{% extends 'base.html.twig' %}

{% block title %}Mot de passe{% endblock %}

{% form_theme formPasswordUpdate "form/_formField.html.twig"%}

{% block body %}
    <div class="slide passwordUpdate">
        <div class="wrapper">
            <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
            <h2>Modifier votre mot de passe</h2>
            {{form_start(formPasswordUpdate)}}
                {{form_widget(formPasswordUpdate)}}
                <button type="submit" class="boutonSubmit">Modifier</button>
            {{form_end(formPasswordUpdate)}}
        </div>
    </div>
{% endblock %}