{% extends 'base.html.twig' %}

{% block title %}Évaluations de {{user.username}}{% endblock %}

{% block body %}
    <div class="slide profil">
        <div class="wrapper">
            <h2>Vos évaluations</h2>
            {% for evaluation in evaluations %}
                <div class="evaluation">
                    <div class="buttons">
                        <a href="" class="btn btn-warning"><i class="fas fa-pen"></i></a>
                        <div class="btn btn-danger deleteButton"><i class="fas fa-trash"></i></div>
                    </div>
                    {% include "partials/rating.html.twig" with {'rating':evaluation.note} %}
                    <p>{{evaluation.avis}}</p>
                </div>
                {% include "admin/partials/deleteAlert.html.twig" with {'type':'','title': " votre évaluation",'id':evaluation.id, 'route':''} %}
            {% endfor %}
        </div>
    </div>
{% endblock %}