{% extends 'base.html.twig' %}

{% block title %}Séance{% endblock %}

{% form_theme formSeance 'seance/_collection.html.twig' %}

{% block body %}
    {% include "partials/_scrollToTop.html.twig" %}
    <div class="slide seance">
        <div class="wrapper">
            <h2>Ajouter une séance</h2>
            {{form_start(formSeance)}}
                {{form_widget(formSeance)}}
                <button type="submit" class="boutonSubmit">Ajouter la séance</button>
            {{form_end(formSeance)}}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{encore_entry_script_tags('seance')}}
{% endblock %}
