<footer>
    <div class="footerContainer">
        <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
        <div class="footerSocialMedia">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footerCopyright">
            <a href="">Mentions Légales</a>
            <a href="">Conditions générales</a>
            <p>&copy; Copyright Sacré Alexandre</p>
        </div>
    </div>
</footer>