<footer>
    <div class="footerContainer">
        <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
        <div class="footerSocialMedia">
            <a href="https://www.instagram.com/coach_q.t/?igsh=MWQwOGRxY2M1OTk1&utm_source=qr"><i class="fa-brands fa-instagram"></i></a>
        </div>
        <div class="footerCopyright">
            <a href="{{path('legals')}}">Mentions Légales</a>
            <p>&copy; Copyright Sacré Alexandre</p>
        </div>
    </div>
</footer>