<header>
    <div>
        <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
        <nav>
            <ul>
                <li>
                    <a href="">Accueil</a>
                    <ul>
                        <li><a href="">Présentation</a></li>
                        <li><a href="">Services</a></li>
                        <li><a href="">Contact</a></li>
                    </ul>
                </li>
                <li><a href="">Blog</a></li>
                <li><a href="">Entraînement</a></li>
                <li><a href="">Forum</a></li>
                <li>
                    <i class="fa-solid fa-user" id="iconUser"></i>
                    <ul>
                        <li><a href="">Profil</a></li>
                        <li><a href="">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div id="burger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</header>
<div class="slide" id="menu">
    <a href="">Accueil</a>-
    <a href="">Présentation</a>-
    <a href="">Services</a>-
    <a href="">Contact</a>-
    <a href="">Blog</a>-
    <a href="">Entraînement</a>-
    <a href="">Forum</a>-
    <a href="">Profil</a>-
    <a href="">Déconnexion</a>
</div>
