<div class="alertDelete">
    <div class="containerDelete">
        <h4>Êtes vous sûr de vouloir supprimer le service : {{title}}</h4>
        <div class="deleteChoice">
            <a href="{{path(route,{'id':id})}}" class="btn btn-danger me-2">Supprimer</a>
            <div class="btn btn-primary annulerDelete ms-2">Annuler</div>
        </div>
    </div>
</div>