<header>
    <div>
        <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
        <nav>
            <ul>
                <li><a href="">Dashboard</a></li>
                <li><a href="{{path('admin_services_index')}}">Services</a></li>
                <li><a href="">Articles</a></li>
                <li><a href="">Entraînements</a></li>
                <li><a href="">Contact</a></li>
                <li>
                    <i class="fa-solid fa-user" id="iconUser"></i>
                    <ul>
                        <li><a href="{{path('admin_account_logout')}}">Déconnexion</a></li>
                    </ul>
                </li>
            </ul>
            <div id="burger">
                <div class="bar"></div>
                <div class="bar"></div>
                <div class="bar"></div>
            </div>
        </nav>
    </div>
</header>
<div class="slide" id="menu">
    <a href="">Dashboard</a>-
    <a href="">Services</a>-
    <a href="">Articles</a>-
    <a href="">Entraînements</a>-
    <a href="">Contact</a>-
    <a href="">Déconnexion</a>
</div>