{% extends 'base.html.twig' %}

{% block title %}Évaluation{% endblock %}

{% form_theme formEval "form/_formField.html.twig"%}

{% block body %}
    <div class="slide eval">
        <div class="wrapper">
            <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
            <a href="{{path('evaluation')}}" class="buttonBack">Retour</a>
            <h2>Modifier votre évaluation</h2>
            {{form_start(formEval)}}
                {{form_widget(formEval)}}
                <button type="submit" class="boutonSubmit">Modifier</button>
            {{form_end(formEval)}}
        </div>
    </div>
{% endblock %}