@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Profil */
.profil{
    .wrapper{
        width:80%;
        margin: 0 auto;
        .username{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            i{
                font-size: 5em;
                color: white;
                margin:50px 0 20px;
            }
            h5{
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 28px;
                color: white;
                margin-bottom: 40px;
            }
        }
        .buttonsUser,.buttonMember{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            .buttonLeft{
                margin-right: 20px;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width: fit-content;
                padding: 0 10px;
                height: 50px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                margin-bottom: 20px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 22px;
                color: white;
                text-decoration: none;
              
                &:hover {
                  background-color: white;
                  color: #EE2525;
                }
            }
        }
        .button{
            display: flex;
            align-items: center;
            justify-content: center;
            .buttonAdd{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width: fit-content;
                padding: 0 10px;
                height: 50px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                margin-bottom: 20px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 22px;
                color: white;
                text-decoration: none;
              
                &:hover {
                  background-color: white;
                  color: #EE2525;
                }
            }
        }
    }
}

/* Evaluation */
.eval{
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            margin: 30px 0;
        }
        .buttonBack{
            align-self: self-start;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 0 20px;
            height: 50px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin-bottom: 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: white;
            text-decoration: none;
            
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        h2{
            align-self: self-start;
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            color: white;
        }
        form{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            #evaluation,#evaluation_update{
                width: 100%;
            }
            .boutonSubmit{
                width: 180px;
                height:50px;
                background-color: #EE2525;
                border-radius: 10px;
                font-size: 24px;
                font-family: "Roboto", sans-serif;
                font-optical-sizing: auto;
                font-weight: normal;
                font-style: normal;
                border: none;
                color: white;
                margin-bottom: 20px;
                &:hover{
                    background-color: white;
                    color: #EE2525;
                }
            }
        }
    }
}

/* Modification du mot de passe */
.passwordUpdate,.userUpdate{
    .wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            margin: 30px 0;
        }
        .buttonBack{
            align-self: self-start;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 0 20px;
            height: 50px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin-bottom: 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: white;
            text-decoration: none;
            margin-bottom: 30px;
            
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        h2{
            align-self: self-start;
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            color: white;
        }
        form{
            width: 100%;
            display: flex;
            align-items: center;
            flex-direction: column;
            #password_update,#user_update{
                width: 100%;
                .formField{
                    .toggle-password-container{
                        position: relative;
                        top:0;
                        left: 0;
                        .toggle-password-button{
                            width: fit-content;
                            color: white;
                            position: absolute !important;
                            right:1% !important;
                            left: auto !important;
                        }
                    }
                }
            }
            .boutonSubmit{
                width: 180px;
                height:50px;
                background-color: #EE2525;
                border-radius: 10px;
                font-size: 24px;
                font-family: "Roboto", sans-serif;
                font-optical-sizing: auto;
                font-weight: normal;
                font-style: normal;
                border: none;
                color: white;
                margin-bottom: 20px;
                &:hover{
                    background-color: white;
                    color: #EE2525;
                }
            }
        }
    }
}

.evaluations{
    overflow: hidden;
    .wrapper{
        .backProfil{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 0 10px;
            height: 50px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin: 20px 0 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: white;
            text-decoration: none;
            
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        h2{
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 30px;
            color: white;
            margin: 20px 0 40px;
        }
        .evaluations{
            .evaluation {
                border: solid 1px #EE2525;
                border-radius: 10px;
                padding: 20px;
                display: flex;
                flex-direction: column;
                color: white;
                width: 100%;
                margin-bottom: 20px;
                p {
                  font-size: 16px;
                  font-family: "Roboto", sans-serif;
                  font-weight: 400;
                  font-style: normal;
                }
                .rating .fas {
                  margin-bottom: 10px;
                  color: #EE2525;
                }
            }
        }
    }
}


/* Media queries */

@media all and (max-width:1000px){
    .eval,.passwordUpdate,.userUpdate{
        .wrapper{
            img{
                width: 40%;
            }
        }
    }
}

@media all and (max-width:800px){
    .eval,.evaluations,.passwordUpdate,.userUpdate{
        .wrapper{
            width: 90%;
        }
    }

}

@media all and (max-width:705px){
    .profil{
        .wrapper{
            .buttonsUser{
                .buttonLeft{
                    margin-right: 0;
                }
            }
        }
    }
}

@media all and (max-width:600px){
    .profil{
        .wrapper{
            width: 90%;
        }
    }
}

@media all and (max-width:400px){
    .profil{
        .wrapper{
            .buttonsUser,.buttonMember{
                a{
                    font-size: 18px;
                }
            }
        }
    }
}