@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Header */
header{
    width:100%;
    height:100px;
    background-color: #000000;
}

header div, .footerContainer{
    width:80%;
    height:100%;
    margin:0 auto;
    display:flex;
    align-items: center;
}

header img,footer img{
    width:83px;
    height:83px;
}

header div nav{
    width: 100%;
    height:100%;
    display: flex;
    justify-content: end;
}

header div nav ul{
    display: flex;
    padding: 0;
}

header div nav ul li{
    width: 125px;
    list-style: none;
    text-align: center;
}
header div nav ul li a{
    display: block;
    width: 100%;
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 100px;
}

header div nav ul li #iconUser{
    color:white;
    line-height: 100px;
    font-size: 1.6rem;
}

header div nav ul li ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header div nav ul li:hover ul li{
    display: block;
    flex:1;
}


header div nav ul li ul li{
    display: none;
    background-color: #000000;
    text-align: center;
}

header div nav ul li ul li a{
    color: white;
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 80px;
}

header nav a:hover{
    color: #EE2525;
}

/* Menu Burger */
#burger{
    width: 50px;
    margin-right: 15px;
    cursor: pointer;
    display: none;
}

/* Barre du menu burger */
.bar{
    transition: all 0.5s;
    width: 100%;
    height: 3px;
    background-color: white;
    margin-bottom: 8px;
}

/* Menu Burger ouvert */
header.menuOpened .bar{
    transform: rotate(45deg) translate(5px,5px);
}
header.menuOpened .bar:nth-child(2){
    opacity: 0;
}
header.menuOpened .bar:last-child{
    transform: rotate(-45deg) translate(10px,-12px);
}


/* Footer */
footer{
    width:100%;
    min-height:100px;
    background-color: #000000;
}

.footerContainer{
    justify-content: space-between;
}

.footerContainer .footerCopyright{
    display: flex;
    flex-wrap: wrap;
}

.footerContainer div a,.footerContainer div p{
    line-height: 100px;
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    margin: 0 10px;
}

.footerContainer a:hover{
    color: #EE2525;
}

.footerContainer div a{
    text-decoration: none;
}

.footerContainer div a i{
    margin: 0 10px;
    font-size: 2.5rem;
    line-height: 100px;
}

/* Slide */
.slide{
    min-height:100vh;
    background-color: #1A1717;
    width: 100%;
}

/* Menu */
#menu{
    background-color: rgba(0, 0, 0,50%);
    position: absolute;
    display: none;
}

#menu.menuOpened{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu a{
    text-decoration: none;
    color: white;
    font-size: 24px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#menu a:hover{
    color: #EE2525;
}

/* Admin formulaire */
.slideAdmin{
    min-height:100vh;
    width:100%;
    background-color: white;
}

.slideAdmin .wrapper{
    width: 80%;
    margin:0 auto;
}

.slideAdmin .wrapper .form .titleBack h2{
    margin-top: 50px;
    margin-bottom: 20px;
}

.slideAdmin .wrapper .form .titleBack a{
    margin-bottom: 30px;
}

.slideAdmin .wrapper .form textarea{
    resize: none;
    min-height:300px;
}

/* Media queries */

@media all and (max-width:1200px){
    #burger{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav ul{
        display: none !important; 
    }
    footer img{
        margin-top: 20px;
    }
    .footerContainer{
        flex-direction: column;
    }
}

@media all and (max-width:768px){
    .footerCopyright{
        flex-direction: column;
        text-align: center;
    }
}
