@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.blog{
    .wrapper{
        overflow: hidden;
        h2{
            margin-top:50px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            font-style: normal;
            font-size: 32px;
            color:white;
        }

        /* Affichage de tous les articles */
        .articleContainer{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            .articleItem{
                width:30%;
                margin: 40px 20px;
                text-decoration: none;
                img{
                    width:100%;
                    height:250px;
                    object-fit: cover;
                }
                h3{
                    margin-top:10px;
                    font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    font-size: 24px;
                    color:white;
                    text-decoration: none;
                }
                &:hover h3{
                    color:#EE2525;
                }
            }
        }
    }
}

.blogShow{
    .wrapper{
        overflow: hidden;
        /* Affichage d'un article */
        .backButton {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: 185px;
            height: 50px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin-bottom: 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 22px;
            color: white;
            text-decoration: none;
            margin-top:50px;
    
            &:hover {
            background-color: white;
            color: #EE2525;
            }
        }
        h2{
            margin: 30px 0;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 24px;
            color: white;
        }
        .imageArticle{
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                width:50%;
                margin: 35px 0;
            }
        }
        .descriptionArticle{
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                color: white;
            p{
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: white;
            }
        }
        .showArticle{
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width: 185px;
                height: 50px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                margin-bottom: 35px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 22px;
                color: white;
                text-decoration: none;
        
                &:hover {
                background-color: white;
                color: #EE2525;
                }
            }
        }
    }
}


@media all and (max-width:1500px){
    .blog{
        .wrapper{
            .articleContainer{
                .articleItem{
                    width: 40%;
                }
            }
        }
    }
}

@media all and (max-width:1000px){
    .blog{
        .wrapper{
            .articleContainer{
                justify-content: space-evenly;
                .articleItem{
                    width: 80%;
                }
            }
        }
    }
}

@media all and (max-width:900px){
    .blogShow{
        .wrapper{
            width: 90%;
            .imageArticle{
                img{
                    width: 100%;
                }
            }
        }
    }
    .blog{
        .wrapper{
            width:90%;
        }
    }
}
