@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


/* Index Forum */
.forum{
    .wrapper{
        overflow: hidden;
        h2{
            font-size: 32px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            font-style: normal;
            margin:50px 0 30px;
            color: white;
        }
        form{
            word-break: normal;
            .formField{
                width: 90%;
                margin-right: 20px;
                input{
                    margin: 0;
                }
            }
            .boutonSubmit{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                height:50px;
                width: fit-content;
                padding: 0 20px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: white;
                text-decoration: none;
                transition: all 0.5s;
                
                &:hover {
                    background-color: white;
                    color: #EE2525;
                }
            }
        }
        .button{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: white;
            text-decoration: none;
            transition: all 0.5s;
            
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        .sujets{
            margin: 30px 0;
            .sujet{
                display: grid;
                grid-template-columns: repeat(3,1fr);
                align-items: center;
                justify-content: space-between;
                border: solid 1px #EE2525;
                border-radius: 10px;
                padding: 15px 15px;
                p{
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 22px;
                    color: white;
                    text-align: center;
                    margin: 0;
                }
                .dateSujet{
                    text-align: end;
                }
                a{
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 22px;
                    color: white;

                    &:hover{
                        color: #EE2525;
                    }
                }
            }
            .notFound{
                text-align: center;
                margin: 20px 0;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 20px;
                color:white;
            }
        }
    }
}


/* Ajout d'un sujet */
.addSujet{
    .wrapper{
        .imageSujet{
            width: 50%;
            max-height: 40vh;
            object-fit: contain;

        }
        .backButton{
            align-self: self-start;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: white;
            text-decoration: none;
            margin-bottom: 30px;
            transition: all 0.5s;
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        form{
            #sujet{
                width:100%
            }
        }
    }
}

/* Affichage d'un sujet */

.sujetShow{
    .wrapper{
        overflow: hidden;
        .backButton{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: white;
            text-decoration: none;
            margin:50px 0 30px;
            transition: all 0.5s;
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        .sujetHeader{
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            h2{
                font-size: 30px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                color: white;
                margin-right: 20px;
            }
            .buttons{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                .deleteButtonUser{
                    cursor: pointer;
                }
                a,.deleteButtonUser{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: fit-content;
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: #EE2525;
                    border: none;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                    color: white;
                    text-decoration: none;
                    margin-right: 20px;
                    transition: all 0.5s;
                    &:hover {
                        background-color: white;
                        color: #EE2525;
                    }
                }
            }
        }
        .sujetBody{
            padding: 10px 20px;
            border: solid 1px #EE2525;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            h3{
                font-size: 24px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                color: white;
                margin-bottom: 20px;
            }
            img{
                width: 40%;
                max-height:40vh;
                object-fit: contain;
                align-self: center;
            }
            p{
                font-size: 18px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                color: white;
                margin-top: 20px;
            }
        }
        h4{
            font-size: 24px;
            font-family: "Roboto", sans-serif;
            font-weight: normal;
            font-style: normal;
            color: white;
            margin: 50px 0 30px;
        }
        .commentaires{
            h6{
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                color: white;
            }
            .commentaire{
                border: solid 1px #EE2525;
                padding: 10px 20px;
                border-radius: 10px;
                margin-bottom: 20px;
                h5{
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    color: white;
                }
                p{
                    font-size: 18px;
                    font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    color: white;
                    margin-bottom: 0;
                }
                .buttons{
                    display: flex;
                    align-items: center;
                    flex-wrap: wrap;
                    .deleteButtonUser{
                        cursor: pointer;
                    }
                    .button,.deleteButtonUser{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        color: white;
                        width: fit-content;
                        padding: 10px 20px;
                        border-radius: 10px;
                        background-color: #EE2525;
                        border: none;
                        font-family: "Roboto", sans-serif;
                        font-weight: 400;
                        font-style: normal;
                        font-size: 18px;
                        color: white;
                        text-decoration: none;
                        margin: 20px 20px 20px 0;
                        transition: all 0.5s;
                        &:hover {
                            background-color: white;
                            color: #EE2525;
                        }
                    }
                }
            }
        }
        form{
            display: flex;
            flex-direction: column;
            .boutonSubmit{
                    align-self: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    width: fit-content;
                    padding: 10px 20px;
                    border-radius: 10px;
                    background-color: #EE2525;
                    border: none;
                    font-family: "Roboto", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    font-size: 18px;
                    color: white;
                    text-decoration: none;
                    margin-bottom: 20px;
                    transition: all 0.5s;
                    &:hover {
                        background-color: white;
                        color: #EE2525;
                    }
            }
        }
    }   
}

/* Media queries */

@media all and (max-width:1200px){
    .forum{
        .wrapper{
            .sujets{
                .sujet{
                    grid-template-columns: 1fr;
                    p{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:600px){
    .forum,.sujetShow{
        .wrapper{
            width: 90%;
            .sujets{
                .sujet{
                    p,a,.dateSujet{
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media all and (max-width:500px){
    .sujetShow{
        .wrapper{
            .sujetHeader{
                .buttons{
                    justify-content: center;
                    a,.deleteButtonUser{
                        margin-top: 20px;
                    }
                }
            }
            .sujetBody{
                img{
                    width:70%;
                }
            }
            .commentaires{
                .commentaire{
                    .buttons{
                        justify-content: center;
                        
                    }
                }
            }
        }
    }
}

@media all and (max-width:450px){
    .forum{
        .wrapper{
            form{
                .formField{
                    margin-right: 0;
                    width: 100%;
                }
                .searchContainer{
                    flex-direction: column;
                    justify-content: center;
                    .boutonSubmit{
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media all and (max-width:345px){
    .sujetShow{
        .wrapper{
            .commentaires{
                .commentaire{
                    .buttons{
                        justify-content: center;
                        a{
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
    }
}