@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Mentions légales */
.legals{
    .wrapper{
        overflow: hidden;
        #mentions_title{
            margin-top:50px;
            h1{
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 32px;
                color:white;
            }
            a{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                height:50px;
                width: fit-content;
                padding: 0 20px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: white;
                text-decoration: none;

                &:hover {
                    background-color: white;
                    color: #EE2525;
                }
            }
        }
        #mentions_text{
            margin-top: 30px;
            h3{
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 24px;
                color:white;
            }
            p{
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 18px;
                color:white;
            }
            li{
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                font-size: 16px;
                color:white;
            }
        }
    }
}

/* Media Queries */
@media all and (max-width:900px){
    .legals{
        .wrapper{
            width:90%;
        }
    }
}