@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.seance{
    .wrapper{
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        .backButton{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 0 20px;
            height: 50px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin: 50px 0 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: white;
            text-decoration: none;
            
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        h2{
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            margin:20px 0 20px;
            color: white;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .boutonSubmit{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width: fit-content;
                padding: 0 10px;
                height: 50px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                margin: 20px 0 20px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: white;
                text-decoration: none;
                
                &:hover {
                    background-color: white;
                    color: #EE2525;
                }
            }
            #seance{
                width: 100%;
                .formField{
                    p{
                        font-size: 22px;
                        font-family: "Roboto", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: normal;
                        font-style: normal;
                        margin:40px 0 20px;
                        color: white;
                    }
                    #seance_exosMusculations,#seance_exosCardios{
                        .formComplet{
                            hr{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media all and (max-width:600px){
    .seance{
        .wrapper{
            width: 90%;
        }
    }
}