@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Ajout d'une séance */
.seance{
    .wrapper{
        overflow: hidden;
        width: 80%;
        margin: 0 auto;
        .backButton{
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin: 50px 0 20px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: white;
            text-decoration: none;
            transition: all 0.5s;
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        h2{
            font-size: 30px;
            font-family: "Roboto", sans-serif;
            font-optical-sizing: auto;
            font-weight: normal;
            font-style: normal;
            margin:20px 0 20px;
            color: white;
        }
        form{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            .boutonSubmit{
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;
                width: fit-content;
                padding: 10px 20px;
                border-radius: 10px;
                background-color: #EE2525;
                border: none;
                margin: 20px 0 20px;
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-style: normal;
                font-size: 18px;
                color: white;
                text-decoration: none;
                transition: all 0.5s;
                &:hover {
                    background-color: white;
                    color: #EE2525;
                }
            }
            #seance{
                width: 100%;
                .formField{
                    p{
                        font-size: 22px;
                        font-family: "Roboto", sans-serif;
                        font-optical-sizing: auto;
                        font-weight: normal;
                        font-style: normal;
                        margin:40px 0 20px;
                        color: white;
                    }
                    #seance_exosMusculations,#seance_exosCardios{
                        .formComplet{
                            hr{
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

/* Affichage d'une séance */
.seanceShow{
    .wrapper{
        overflow: hidden;
        .button{
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            width: fit-content;
            padding: 10px 20px;
            border-radius: 10px;
            background-color: #EE2525;
            border: none;
            margin: 20px 20px 20px 0;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-style: normal;
            font-size: 18px;
            color: white;
            text-decoration: none;
            transition: all 0.5s;
            &:hover {
                background-color: white;
                color: #EE2525;
            }
        }
        .back{
            margin-top: 50px;
        }
        .title{
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            h3{
                font-size: 30px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                margin:20px 0;
                color: white;
                margin-right: 20px;
            }
        }
        .musculation,.cardio{
            h5{
                font-size: 28px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                margin:20px 0;
                color: white;
            }
            .exos{
                display: grid;
                grid-template-columns: repeat(4,1fr);
                margin: 30px 0;
                p{
                    font-size: 20px;
                    font-family: "Roboto", sans-serif;
                    font-weight: normal;
                    font-style: normal;
                    color: white;
                    padding: 10px 15px;
                    border: solid 1px #EE2525;
                    border-radius: 10px;
                    margin-right: 10px;
                    margin-bottom: 10px;
                }
            }
            .noExos{
                font-size: 20px;
                font-family: "Roboto", sans-serif;
                font-weight: normal;
                font-style: normal;
                margin:20px 0;
                color: white;
            }
        }
    }
}

/* Media Queries */
@media all and (max-width:1200px){
    .seanceShow{
        .wrapper{
            .musculation,.cardio{
                .exos{
                    grid-template-columns: repeat(2,1fr);
                }
            }
        }
    }
}

@media all and (max-width:900px){
    .seanceShow{
        .wrapper{
            .musculation,.cardio{
                .exos{
                    grid-template-columns: 1fr;
                    margin: 50px 0;
                }
            }
        }
    }
}

@media all and (max-width:824px){
    .seanceShow{
        .wrapper{
            .title{
                margin-right: 40px;
                .buttonDelete{
                    margin-top: 0;
                }
            }
        }
    }
}

@media all and (max-width:683px){
    .seanceShow{
        .wrapper{
            .title{
                justify-content: center;
                .buttonModify{
                    margin-top: 0;
                }
            }
        }
    }
}

@media all and (max-width:600px){
    .seance,.seanceShow{
        .wrapper{
            width: 90%;
        }
    }
}

@media all and (max-width:500px){
    .seanceShow{
        .wrapper{
            .musculation,.cardio{
                .exos{
                    justify-content: center;
                }
            }
        }
    }
}