<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>QT coaching - {% block title %}Welcome{% endblock %}</title>
        <link rel="icon" href="/logo/logoQT-favIcon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Quentin Testaert coach sportif">
        <link rel="apple-touch-icon" sizes="57x57" href="/icon/logoQT-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/icon/logoQT-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/icon/logoQT-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/icon/logoQT-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/icon/logoQT-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/icon/logoQT-152x152.png">
        <link rel="icon" type="image/png" href="/icon/logoQT-196x196.png" sizes="196x196">
        <link rel="icon" type="image/png" href="/icon/logoQT-160x160.png" sizes="160x160">
        <link rel="icon" type="image/png" href="/icon/logoQT-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/icon/logoQT-16x16.png" sizes="16x16">
        <link rel="icon" type="image/png" href="/icon/logoQT-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png">
        <meta name="google" content="notranslate"/>
        <meta property="og:title" content="Quentin Testaert coach sportif">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/logo/logoQT-favIcon.png">
        <meta property="og:image:width" content="1800">
        <meta property="og:image:height" content="945">
        <meta property="og:url" content="https://qtcoachingsportif.alexandresacre.com/">
        <meta property="og:description" content="Quentin Testaert coach sportif">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="QT coaching sportif">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@QTcoachingSportif">
        <meta name="twitter:title" content="Quentin Testaert coach sportif">
        <meta name="twitter:description" content="Quentin Testaert coach sportif">
        <meta name="twitter:image" content="/logo/logoQT-favIcon.png">
        <meta name="robots" content="noindex,nofollow">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/cookies.html.twig" %}
        {% include "partials/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        {% block javascriptsApp %}
            <script>
                const cookieAccept = document.querySelector('.acceptCookie')
                const cookie = document.querySelector('.cookie')
                if(localStorage.getItem('cookie')){
                    cookie.classList.add('cookieAccepted')
                }
                cookieAccept.addEventListener('click',()=>{
                    localStorage.setItem('cookie','QTCookieAccepté')
                    cookie.classList.add('cookieAccepted')
                })
           </script>
        {% endblock %}
    </body>
</html>
