<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>QT coaching - {% block title %}Welcome{% endblock %}</title>
        <link rel="icon" href="/logo/logoQT-favIcon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Quentin Testaert coach sportif">
        <link rel="apple-touch-icon" sizes="57x38" href="/logo/logoQT-favIcon.png">
        <link rel="apple-touch-icon" sizes="72x49" href="/logo/logoQT-favIcon.png">
        <link rel="apple-touch-icon" sizes="76x52" href="/logo/logoQT-favIcon.png">
        <link rel="apple-touch-icon" sizes="114x78" href="/logo/logoQT-favIcon.png">
        <link rel="apple-touch-icon" sizes="120x82" href="/logo/logoQT-favIcon.png">
        <link rel="apple-touch-icon" sizes="144x98" href="/logo/logoQT-favIcon.png">
        <link rel="apple-touch-icon" sizes="152x104" href="/logo/logoQT-favIcon.png">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png" sizes="196x134">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png" sizes="160x110">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png" sizes="96x66">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png" sizes="16x11">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png" sizes="32x22">
        <link rel="icon" type="image/png" href="/logo/logoQT-favIcon.png">
        <meta name="google" content="notranslate"/>
        <meta property="og:title" content="Quentin Testaert coach sportif">
        <meta property="og:type" content="website">
        <meta property="og:image" content="/logo/logoQT-favIcon.png">
        <meta property="og:image:width" content="1800">
        <meta property="og:image:height" content="945">
        <meta property="og:url" content="https://qtcoachingsportif.alexandresacre.com/">
        <meta property="og:description" content="Quentin Testaert coach sportif">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="QT coaching sportif">
        <meta name="twitter:card" content="summary">
        <meta name="twitter:site" content="@QTcoachingSportif">
        <meta name="twitter:title" content="Quentin Testaert coach sportif">
        <meta name="twitter:description" content="Quentin Testaert coach sportif">
        <meta name="twitter:image" content="/logo/logoQT-favIcon.png">
        <meta name="robots" content="noindex,nofollow">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_script_tags('app') }}
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% include "partials/header.html.twig" %}
        {% block body %}{% endblock %}
        {% include "partials/cookies.html.twig" %}
        {% include "partials/footer.html.twig" %}
        {% block javascripts %}{% endblock %}
        {% block javascriptsApp %}
            <script>
                const cookieAccept = document.querySelector('.acceptCookie')
                const cookie = document.querySelector('.cookie')
                if(localStorage.getItem('cookie')){
                    cookie.classList.add('cookieAccepted')
                }
                cookieAccept.addEventListener('click',()=>{
                    localStorage.setItem('cookie','QTCookieAccepté')
                    cookie.classList.add('cookieAccepted')
                })
           </script>
        {% endblock %}
    </body>
</html>
