{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="scrollTop">
        <i class="fa-solid fa-chevron-up"></i>
        <i class="fa-solid fa-chevron-up"></i>
    </div>
    <div class="slide" id="home">
        <div class="wrapper">
            <div id="homeG">
                <h2>Force.</h2>
                <h3>Détermination.</h2>
                <h4>Progression.</h2>
                <h5>Chaque séance,</h3>
                <h6>vous rapproche de vos objectifs.</h6>
                <button><a href="">Contactez-moi</a></button>
            </div>
            <div id="homeD"></div>
        </div>
    </div>
    <div class="slide" id="about">
        <div class="wrapper">
            <div id="aboutG">
                <img src="/logo/logoQT.png" alt="logo coaching sportif">
                <div class="about">
                    <p>Je me présente, je m’appelle <strong>Quentin</strong>. Je suis Personal Trainer diplômé d’un <strong>bachelier en coaching sportif.</strong></p>
                    <p>Je me suis spécialisé dans la prise de masse musculaire et la perte de masse grasse.</p>
                    <p>Si votre objectif est de changer de mode de vie, de mieux vous sentir dans votre tête et votre corps ou que vous venez déjà en salle de sport et que vous désirez apprendre de nouvelles techniques.</p>
                    <p><strong><i>N’hésitez pas ! Franchissez le pas !</i></strong></p>
                    <p>Je suis là pour vous épauler tout au long de votre transformation physique !</p>
                    <p><strong><i>« Si vous voulez des résultats, Contactez-moi ! »</i></strong></p>
                    <div class="buttonsAbout">
                        <button class="contact"><a href="">Contactez-moi</a></button>
                        <button class="services"><a href="">En savoir plus</a></button>
                    </div>
                </div>
            </div>
            <div id="aboutD">

            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('home') }}
{% endblock %}
