{% extends "base.html.twig" %}

{% block title %}Confirmation Email{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper">
            {{message}}
        </div>
    </div>
{% endblock %}