{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="slide">
        <div class="wrapper">
            <img src="/logo/logoQT.png" alt="Logo Quentin Coaching Sportif">
            <div class="formulaireConnexion">
                <h2>Connexion</h2><i class="fa-solid fa-user">
            </div>
            <form action="{{path('account_login')}}" method="POST">
                <div class="formField">

                </div>
            </form>
        </div>
    </div>
{% endblock %}
